.yogaList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}
.profileSec {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0px;
	height: 100vh;
}
.bannerImg {
	height: 200px;
	width: auto;
}

.logoImg {
	width: 200px;
	height: auto;
}

/* mobile Devise responsive */

@media only screen and (max-width: 688px) {
	.yogaList {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px;
	}
}
